<!DOCTYPE HTML>
<!-- to unable CSRF
{‌{ form.csrf_token }}

to unable  csrf
form = FlaskForm(meta={'csrf': False}) to unable  csrf
CSRF is Cross Site Request Forgery,whic means hamro website ma jpt aru link haru khuldaina.
by using flask-WTF we can use it directly


yeslai globally unable garna ko lagi 
WTF_CSRF_ENABLED = False


In order to generate the csrf token
WTF_CSRF_SECRET_KEY = "thisismypasword" # password must be a string -->

<!-- <link href="static/css/styles.css" rel="stylesheet" /> -->
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="static/css/styles.css">
	</head>
	<body>
        <div class="container">
		<h1>Login</h1>
			<form method="POST" action="{{ url_for('login') }}" novalidate> <!-- better than action="/login" 
			novalidate lekhda default ma vako kei error huda diney warining type display hudeina -->
				{{ form.csrf_token }}
				<p>
					{{ form.email.label }} <br> {{ form.email(size=30) }}
					{% for error in form.email.errors %}
					<span style="color:red">{{error}}</span>
					{% endfor %}
					
				</p>
				<p>
					{{ form.password.label }} <br> {{ form.password(size=30) }}
					{% for error in form.password.errors %}
					<span style="color:red">{{error}}</span>
					{% endfor %}
					
				</p>
				{{form.submit}}
				
				
			</form>
        </div>
	</body>
</html>